/*body styling*/
body {
    background-image: url(../Images/BackgroundImage.jpg)
}

/*Navbar*/
nav {
    background-color: #83677b;
}

.navbar-brand {
    color: #2e1114;
}

.nav-link {
    color: #2e1114;
}