/*body styling*/
body {
    background-image: url(../Images/background.jpg);
    background-size: 110%; 
}

img {
    width: 35%;
 }

 h5 {
     text-align: center;
 }
 
.container-fluid {
     color: white;
     font-size: 25px;
     text-align: center;
 }